extends layout

block content
	h1= title
	p This is all of the content that we are going to import into WordPress. Check over things here to see if there are any gross inconsistencies.

	each val in posts
		table.table.table-hover.table-striped.table-bordered
			thead
				tr
					td(colspan="2")
						strong= val.Title
			tbody
				tr
					td.two-hundred Description
					td= val.Description

				tr
					td.two-hundred Presenters
					td
						ul
							each presenter in val.Presenters
								li= presenter

				tr
					td.two-hundred Slug
					td= val.Audio

				tr
					td.two-hundred Event
					td= val.year + ' ' + val.event + ' Symposium'

				tr
					td.two-hundred Podcast URL
					td= val.URL

				tr
					td.two-hundred Podcast Audio
					td
						audio(controls preload="none")
							source(src=val.URL type="audio/mpeg")
